<!DOCTYPE html>
<html>
  <head>
    <title>GeosearchMaps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//maps.google.com/maps/api/js?key=AIzaSyCBUIJ0ovAiPl9FeRA28YGfqDYTdohW7CE", 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
